<section id="login" class="row">
  <section class="medium-6 medium-push-6 large-8 large-push-4 columns">
    <h1 class="text-center">Contas Gracie</h1>
  </section>
  <section class="medium-6 medium-pull-6 large-4 large-pull-8 columns">
    <form method="POST" action="/login">
      <fieldset>
        <label for="email">Email</label>
        <input name="email" type="email" autofocus />

        <label for="password">Password</label>
        <input name="password" type="password" />

        <button class="button expand">Log in</button>
      </fieldset>
    </form>
  </section>
</section>
