<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      #### This title is a placeholder for the title variable ####
    </title>
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <section id="main">
      #### This section tag is a placeholder for the dynamic content ####
    </section>

    <script src="bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
